.supertable-app{
  display: inline-block;
}
.ST-container_position-center{
  margin-left: 40%;
  margin-top: 15%;
}
.ST-table__container{
  float: left;
  display: inline-block;
}
.ST-table__btn{
  transition:all 0.3s ease;
}
.ST-table__btn_position-right{
  display: inline-block;
  float: left;
  margin-top: 47px;
  margin-left: 1.5px;
}
.ST-table__btn_position-left{
  display: inline-block;
  float: left;
  width: 42px;
  margin-top: 47px;
  margin-right: 1.5px;
}
.ST-table{
  border-spacing: 0;
  border: 1px solid #48aae6;
  padding: 1px;
}
.ST-table__btn_position-top{
  height: 42px;
  margin-bottom: 1.5px;
  margin-left: 3px;
}
.ST-table__row{
  padding: 0;
  margin: 0;
}
.ST-table__col{
  background-color: #48aae6;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  float: left;
}
.ST-table__btn_position-bottom{
  margin-top: 1.5px;
  margin-left: 3px;
}
.ST-btn {
  color: white;
  height: 42px;
  width: 42px;
  opacity: 1;
  border: 0;
  cursor: pointer;
}
.ST-btn:hover{
  transition:all 0.3s ease;
  opacity: 0.5;
}
.ST-btn_add{
  font-size: 15px;
  font-weight: bold;
  background-color: #f3a500;
}
.ST-btn_add::before{
  content: '+';
}
.ST-btn_del{
  padding-bottom: 5px;
  transition:all 0.3s ease;
  background-color: #b20000;
}
.ST-btn_del::before{
  content: '-';
  font-size: 1.7em;
}
