*{
  padding: 0;
  margin: 0;
}
.supertable-app{
  display: flex;
}
.container_position-center{
  justify-content: center;
  margin-top: 15%;
}
.table{
  display: inline-block;
  padding: 0.5px;
  border: 1px solid #48aae6;
}
.table__col{
  background-color: #48aae6;
  width: 37px;
  height: 37px;
  border: 0.5px solid #fff;
  float: left;
}
.table_direction-column{
  display: flex;
  flex-direction: column;
}
.btn {
  color: white;
  height: 37px;
  width: 37px;
  opacity: 1;
  border: 0;
  cursor: pointer;
}
.btn:hover{
  transition:all 0.3s ease;
  opacity: 0.8;
}
.btn-add{
  font-size: 0.9em;
  font-weight: 700;
  background-color: #f3a500;
}
.btn-add::before{
  content: '+';
}
.btn-del{
  padding-bottom: 5px;
  transition:all 0.3s ease;
  background-color: #b20000;
}
.btn-del_display-none{
  display: none;
}
.btn-del::before{
  content: '-';
  font-size: 1.7em;
}
.table__btn_position-right{
  margin-top: 40px;
  margin-left: 1px;
}
.table__btn_position-left{
  margin-top: 40px;
  margin-right: 1px;
}
.table__btn_position-top{
  margin-bottom: 1px;
  margin-left: 2px;
}
.table__btn_position-bottom{
  margin-top: 1px;
  margin-left: 2px;
}
