.st{
  display: inline-block;
  position: relative;
  margin: 0 54px 54px 0;
}
.st__table{
  margin: 54px 0 0 54px;
  border: 1px solid #48aae6;
}
.st__cell{
  background-color: #48aae6;
  width: 50px;
  height: 50px;
}
.st__btn {
  color: white;
  height: 52px;
  width: 52px;
  opacity: 1;
  border: 0;
  cursor: pointer;
  position: absolute;
}
.st__btn:hover{
  transition:all 0.3s ease;
  opacity: 0.5;
}
.st__btn-add{
  background-color: #f3a500;
}
.st__btn-add::before{
  font-size: 20px;
  font-weight: 600;
  content: '+';
}
.st__btn-del{
  transition:all 0.3s ease;
  background-color: #b20000;
}
.st__btn-del::before{
  content: '-';
  font-size: 20px;
  font-weight: 600;
}
.st__btn_position-left{
  top: 55px;
  margin-top: 2px;
}
.st__btn_position-top{
  left: 55px;
  margin-left: 2px;
}
.st__btn_position-right{
  top: 57px;
  margin-left: 2px;
  left: 100%;
}
.st__btn_position-bottom{
  top: 100%;
  left: 57px;
  margin-top: 2px;
}
