.Supertable{
    display: inline-block;
    position: relative;
}
.Supertable >.table{
    border: 1px solid #48aae6;
}
.Supertable >.table .cell{
    background-color: #48aae6;
    padding: 0;
}
.Supertable >.btn {
    color: white;
    opacity: 1;
    border: 0;
    cursor: pointer;
    position: absolute;
}
.Supertable >.btn:hover{
    transition:all 0.3s ease;
    opacity: 0.5;
}
.Supertable >.btn-add{
    background-color: #f3a500;
}
.Supertable >.btn-add::before{
    font-size: 20px;
    font-weight: 600;
    content: '+';
}
.Supertable >.btn-del{
    transition:all 0.3s ease;
    background-color: #b20000;
}
.Supertable >.btn-del::before{
    content: '-';
    font-size: 20px;
    font-weight: 600;
}
.Supertable >.btn_position-left{
    right: 100%;
}
.Supertable >.btn_position-top{
    bottom: 100%;
}
.Supertable >.btn_position-right{
    left: 100%;
}
.Supertable >.btn_position-bottom{
    top: 100%;
}